:root {
  color-scheme: dark;
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --link-color: #00aaff;
  --link-hover-color: #00ccff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  background: radial-gradient(circle, #000 0%, var(--bg-color) 80%);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: top;
  height: 100vh;
}

header {
  margin-top: 1rem;
}

p {
  width: 80%;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
  line-height: 1.5em;
}

/* Explicar esto. Solo con footer {} se descentra */
footer p {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 10%;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 2rem;
  padding: 0.5rem 1rem;
}

a.return {
  color: var(--link-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid var(--link-color);
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

a.return:hover {
  background-color: var(--link-color);
  color: var(--bg-color);
}
